%p
	=link_to "nuevo", :action => "nuevo"
%br
%table.table.table-striped.table-hover.table-condensed.table-bordered
	%thead
		%th Id
		%th Nombre
		%th Opciones
	%tbody	
		- @estados_inscripciones.each do |estado|
			%tr
				%td= estado.id
				%td= estado.nombre
				%td= link_to "editar", :action=> "editar", :id => estado.id
