Ingrese los datos a continuación:

=form_tag :action => "paso1_guardar" do 
  -if @usuario.errors.any?
    %p
      %div#error-explanation
        %b
          =pluralize(@usuario.errors.count, "error") 
          en el formulario impiden que éste usuario sea registrado:
        %ul
          -@usuario.errors.full_messages.each do |msg|
            %li
              =msg
  %fieldset
    %legend Datos Personales
    %p
      %label
        Cédula de Identidad
      =text_field :usuario, :ci
      Ejemplo: 18234543
  %p 
    %span.req *  
    Campos Obligatorios
  %p
    =submit_tag "Siguiente"
%br/    