=form_tag(url_for(:action => "guardar_seleccionados", :controller => :preinscripcion),{:class => "formulario titulo", :id => "formu",:multipart=> true}) do
  %h3
    Seleccione Estudiantes

    %table.tablesorter.tablefilter.liker
      %thead
        %tr
          %th{:width => "30%"}
            Descripción
          %th{:width => "30%"}
            Grupo
          %th{:width => "30%"}
            Cohorte
      %tbody
        -@preinscritos.each do |preinscrito|
          %tr
            %td
              = "#{preinscrito.usuario.descripcion}"
              / =hidden_field_tag :seleccionados, preinscrito.id
            %td
              =collection_select :seleccionados, :grupo_id, @grupos, :id, :nombre
            %td
              =collection_select :seleccionados, :cohorte_id, @cohorte, :id, :nombre
  

  =submit_tag "Guardar Seleccionados"

  
