%table.tablesorter.liker
  %thead
    %tr
      %th{:width => "15%"}
        Idioma
      %th{:width => "15%"}
        Nivel
      %th{:width => "20%"}
        Horario
      %th{:width => "10%"}
        Período
      %th{:width => "25%"}
        Convenio
      %th{:width => "15%"}
        Calificación

  %tbody
    -@historial.each do |h|
      %tr
        %td
          =h.tipo_curso.descripcion
        %td
          =h.tipo_nivel.descripcion
        %td
          =h.seccion.horario
        %td
          =h.periodo_id
        %td
          =h.tipo_convenio.descripcion
        %td
          -if h.nota_final == -2
            -if h.tipo_estado_calificacion_id == "CO"
              CONGELADO
            -else
              SIN CALIFICAR
          -elsif h.nota_final == -1
            PERDIDA POR INASISTENCIA
            -if (session[:administrador].usuario_ci != "aceim") 
              =link_to_modal "Modificar",{:action => "cambiar_nota",:title =>"Modificar Nota",:width=>500, :params => {:usuario_ci => h.usuario_ci, :idioma_id => h.idioma_id,:tipo_categoria_id => h.tipo_categoria_id, :tipo_nivel_id => h.tipo_nivel_id, :periodo_id => h.periodo_id, :seccion_numero => h.seccion_numero} }
          -else
            =h.nota_final.to_i
            -if (session[:administrador].usuario_ci != "aceim")
              =link_to_modal "Modificar",{:action => "cambiar_nota",:title =>"Modificar Nota",:width=>500, :params => {:usuario_ci => h.usuario_ci, :idioma_id => h.idioma_id,:tipo_categoria_id => h.tipo_categoria_id, :tipo_nivel_id => h.tipo_nivel_id, :periodo_id => h.periodo_id, :seccion_numero => h.seccion_numero} }
            




