-if flash[:mensaje]
  =flash[:mensaje]
=form_tag({:action => "confirmar_inscripcion_guardar"}, :class => "formulario titulo") do
  %table.tablesorter.likert
    %thead
      %tr
        %th{:width => "150px"}
          Curso
        %th{:width => "150px"}
          Nivel
        %th{:width => "150px"}
          Numero de Recibo
    %tbody
      %tr
        %td
          =@historial.tipo_curso.descripcion
        %td
          =@historial.tipo_nivel.descripcion 
          =hidden_field :historial, :idioma_id
          =hidden_field :historial, :tipo_categoria_id
          =hidden_field :historial, :tipo_nivel_id
          =hidden_field :historial, :usuario_ci       
        %td
          =text_field :historial, :numero_deposito, :autofocus => true
          =javascript_tag "$('#historial_numero_deposito').focus();"
  %br/
  %br/
  =submit_tag "Confirmar"
  |
  =link_to_function "Cancelar","aceim.cerrar_modal()"