%h3 Estudiante a Modificar
=form_tag({:action => "validar"}, :class => "formulario titulo") do
  =label :usuario, :ci, "Cédula de Identidad"
  %br/
  =text_field :usuario, :ci, :autofocus => "true"
  %br/
  %br/
  =submit_tag "Buscar"
