%ul.navegador
  %li
    =link_to "Gestión de Convenios y Matrícula", :controller=>"convenio", :action=>"index"

  %li 
    %a.desplegable{:href=>"#"} Recursos Disponibles (Aulas e Instructores)
    %ul.subnavegador
      %li
        =link_to "Ingresar Aulas Asignadas", :controller=> "admin_aula", :action=>"ingresar_aulas_planificacion"

      %li
        =link_to "Ingresar Horarios Asignados", :controller=> "admin_aula", :action=>"ingresar_horario_aulas_planificacion"

      %li
        =link_to "Ingresar Horarios Disponibles Instructores", :controller=> "admin_instructor", :action=>"ingresar_horario_disponible_instructores"


  %li
    %a.desplegable{:href=>"#"} Secciones
    %ul.subnavegador
      %li  
        =link_to "Gestionar Secciones", :controller=>"admin_seccion"
      %li
        =link_to_modal "Agregar Nueva Sección", {:title => "Elegir período e idioma", :controller => "admin_seccion", :action =>"elegir_periodo_idioma_modal", :width => 400}

  %li
    %a.desplegable{:href=>"#"} Reportes
    %ul.subnavegador
      %li  
        =link_to "Alumnos con Convenios", :controller=>"reportes", :action=>"index_reportes_convenios"
      %li  
        =link_to "Cantidad de Alumnos por Idioma", :controller=>"reportes", :action=>"index_reporte_alumnos_por_idioma"
      %li  
        =link_to "Cantidad de Secciones por Idioma", :controller=>"reportes", :action=>"index_reporte_secciones_por_idioma"
      %li  
        =link_to_modal "Estadísticas Generales por Idioma", {:title => "Elegir idioma", :controller => "reportes", :action =>"elegir_idioma_reporte_modal", :width => 300}

  %li
    %a.desplegable{:href=>"#"} Cartelera Virtual
    %ul.subnavegador
      %li  
        =link_to "Ver Cartelera Principal", :controller=>"gestionar_cartelera", :action=>"visualizar"
      %li  
        =link_to "Editar Cartelera Principal", :controller=>"gestionar_cartelera", :action=>"modificar"

