#accordionMenu.accordion
  .accordion-group
    .nav-header
      %a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "#collapseDiplomados"}
        .nav-header
          Diplomados
    #collapseDiplomados.accordion-body.collapse
      .accordion-inner
        %ul.nav.nav-list
          %li=link_to "Gestionar Diplomados", :controller => "diplomado"
          %li=link_to "Gestionar Cohortes", :controller => "cohorte"
          %li=link_to "Gestionar Cronograma Académico", :controller => "diplomado_cohorte"
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "#collapseDocentes"}
        .nav-header
          Docentes
    #collapseDocentes.accordion-body.collapse
      .accordion-inner
        %ul.nav.nav-list
          %li=link_to "Listar Docentes", "#"
          %li=link_to "Enviar Correo", "#"
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "#collapseEstudiantes"}
        .nav-header
          Estudiantes
    #collapseEstudiantes.accordion-body.collapse
      .accordion-inner
        %ul.nav.nav-list
          %li=link_to "Listar Estudiantes", :controller => "estudiante"
          %li=link_to_if true, "Gestionar Estudiante Existente", :controller=> "admin_estudiante"
          %li=link_to_if true, "Inscribir Estudiante", :controller=> "inscripcion_admin", :action => "buscar"
          %li=link_to "Control de asistencia", :controller=> "asistencia", :action=>"seleccionar_curso" 
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "#collapseCartelera"}
        .nav-header
          Cartelera & Parámetros Generales
    #collapseCartelera.accordion-body.collapse
      .accordion-inner
        %ul.nav.nav-list
          %li=link_to "Parámetros Generales", :controller => "parametros_generales", :action=> "index"
          %li=link_to "Gestionar Cartelera Principal", "#"
