#accordionMenu.accordion
  .accordion-group
    .nav-header
      %a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "#collapseDiplomados"}
        .nav-header
          Diplomados
    #collapseDiplomados.accordion-body.collapse
      .accordion-inner
        %ul.nav.nav-list
          %li=link_to "Gestionar Diplomados", :controller => "diplomado"
          %li=link_to "Gestionar Cohortes", :controller => "cohorte"
          %li=link_to "Gestionar Cronograma Académico", :controller => "diplomado_cohorte"
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "#collapseDocentes"}
        .nav-header
          Docentes
    #collapseDocentes.accordion-body.collapse
      .accordion-inner
        %ul.nav.nav-list
          %li=link_to "Listar Docentes", :controller => "docentes"
          %li=#link_to "Enviar Correo", "#"
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "#collapseEstudiantes"}
        .nav-header
          Participantes
    #collapseEstudiantes.accordion-body.collapse
      .accordion-inner
        %ul.nav.nav-list
          %li=link_to "Gestionar Participantes en Diplomados", :controller => "inscripcion_admin", :action => "gestionar"
          %li=link_to_if session[:administrador].rol == "super", "Gestionar Participante Existente", :controller=> "admin_estudiante"
          %li=link_to_if session[:administrador].rol == "super", "Inscribir Participante", :controller=> "inscripcion_admin", :action => "buscar"
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordionMenu", "data-toggle" => "collapse", :href => "#collapseCartelera"}
        .nav-header
          Parámetros Generales
    #collapseCartelera.accordion-body.collapse
      .accordion-inner
        %ul.nav.nav-list
          %li=link_to "Cambiar Parámetros Generales", :controller => "parametros_generales", :action=> "index"
          %li=#link_to "Gestionar Cartelera Principal", "#"
