=form_tag(url_for(action: "enviar_correo", controller: :estado_inscripcion),{class: "formulario titulo", id: "formu",:multipart=> true}) do
  Título
  %br/
  =text_field :correo, :titulo, autofocus: "true"
  %br/
  Contenido
  %br/
  =text_area :correo, :contenido, size: "60x20"
  %br/
  Adjuntar un archivo
  %br/
  =file_field_tag :archivo_adjunto
  %br/
  %h3
    Seleccione Instructores
  %div.titulo
    Filtrar Contenido:
    =text_field_tag "filtro"
    %table.tablesorter.tablefilter.liker
      %thead
        %tr
          %th{width: "30%"}
            Instructor
          %th{width: "30%"}
            Correo
          %th{width: "30%"}
            Domina
          %th{width: "10%"}
            Opciones
      %tbody
        -@instructor.each do |i|
          %tr
            %td
              = "#{i.usuario.nombre_completo} (#{i.usuario.telefono_movil})"
            %td
              =i.usuario.correo
            %td
              =i.domina_descripcion
            %td
              .check
                =check_box :seleccion, i.id
  
  
  - mensaje = "x"
  - mensaje = mensaje + ", ¿está seguro?" if mensaje != ""
  
  
  =hidden_field_tag :correo_para_instructores, "true"
  =submit_tag "Enviar", id: "submit_correo"# :confirm => "validar()"
  
