=form_tag :controller => 'cal_usuario', :action => 'modificar_guardar'  do 

  -if @cal_usuario.errors.any?
    %ul
      -flash[:alert] = ""
      -@cal_usuario.errors.full_messages.each do |msg|
        -flash[:alert] += "#{msg}\n"

  -if @accion and @controlador
    =hidden_field_tag 'controlador', @controlador
    =hidden_field_tag 'accion', @accion
  -else 
    =hidden_field_tag 'controlador', controller_name
    =hidden_field_tag 'accion', action_name
  %fieldset
    %legend Datos Personales

    -if @editar
      .control-group
        %label.control-label
          Nombres:
        .controls
          =text_field :cal_usuario, :nombres, :placeholder => "Nombres…", :required => true
      .control-group
        %label.control-label
          Apellidos:
        .controls
          =text_field :cal_usuario, :apellidos, :placeholder => "Apellidos…", :required => true
    - else    
      .control-group
        %label.control-label
          (CI) Nombre completo:
        .controls
          %b= @cal_usuario.descripcion

    .control-group
      %label.control-label
        Sexo:
      .controls
        %label.checkbox
          =radio_button :cal_usuario, :cal_tipo_sexo_id, "M", :required => true
          Masculino
          |
          =radio_button :cal_usuario, :cal_tipo_sexo_id, "F", :required => true
          Femenino

    .control-group
      %label.control-label
        Contraseña:
      .controls
        =password_field :cal_usuario, :contrasena, :required => true

    .control-group
      %label.control-label
        Confirmación:
      .controls
        =password_field :cal_usuario, :contrasena_confirmation, :required => true

  %fieldset
    %legend Datos de Contacto

    .control-group
      %label.control-label
        Teléfono habitación:
      .controls
        =telephone_field :cal_usuario, :telefono_habitacion, :placeholder => "Teléfono de Habitación…", :required => true

    .control-group
      %label.control-label
        Teléfono celular:
      .controls
        =telephone_field :cal_usuario, :telefono_movil, :placeholder => "Celular…", :required => true

    .control-group
      %label.control-label
        Correo electrónico:
      .controls
        =text_field :cal_usuario, :correo_electronico, :placeholder => "Correo Electrónico…", :required => true

    =submit_tag 'Actualizar', :class => "btn btn-primary"