.modal.hide.fade#olvido_clave
	.modal-header
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		%h3 Recuperar Contraseña

	=form_tag ({controller: 'cal_usuario', action: 'olvido_clave_enviar'}, class: "form-horizontal")  do 
		.modal-body
			.control-group
				%label.control-label
					CI:
				.controls
					=text_field :cal_usuario, :ci, placeholder: "Ingrese su cédula de identidad…", required: true
		.modal-footer
			=submit_tag 'Recuperar', class: "btn btn-primary"
