=form_tag :action => "algo" do
  %label "1"
  =text_field_tag "aca_1","1" 
  %br/
  %label "1"
  =text_field_tag "aca_3","3" 
  %br/
  %label "1"
  =text_field_tag "aca_5","5" 
  %br/
  %label "1"
  =text_field_tag "aca2_7","7" 
  %br/
  %label "1"
  =text_field_tag "ac3a_8","8" 
  %br/