= button_to 'Inscribir otro Estudiante', {controller: 'cal_estudiante_seccion', action: 'buscar_estudiante'}, class: 'btn btn-success'

= render partial: 'cal_estudiante_seccion/tabla_selecciones', locals: {secciones: @secciones, borrar_seleccion: false}
