%table
	%tr
		%td= link_to 'Inscribir otro Estudiante', {controller: 'cal_estudiante_seccion', action: 'buscar_estudiante'}, class: 'btn btn-success'

		%td= link_to 'Detalle de Usuario', {controller: 'cal_principal_admin', action: 'detalle_usuario', :ci => @estudiante.id}, class: 'btn btn-default'
		- if @secciones.to_a.count > 0
			%td
				= link_to({controller: 'cal_descargar', action: 'contancia_inscripcion', :id => @estudiante.id}, class: 'btn btn-default') do
					%i.icon-download.icon-white
					Constancia de Inscripcion

= render partial: 'cal_estudiante_seccion/tabla_selecciones', locals: {secciones: @secciones, borrar_seleccion: false}
