-if @cohortes.count > 0
	.well.well-small
		%ul
			-@cohortes.each do |cohorte|
				%li
					=cohorte.descripcion
-else
	%h2 Sin Cohortes

= link_to "cohorte/nuevo", {:class => 'btn btn-primary'} do
	%i.icon-plus.icon-white
	Agregar Cohorte
