=form_for(@cohorte,:url=>{:action => "crear"}) do |a|
  -if @cohorte.errors.any?
    %ul
      -flash[:alert] = ""
      -@cohorte.errors.full_messages.each do |msg|
        -flash[:alert] += "#{msg}\n"

  %fieldset
    %legend Registro de Nuevo Diplomado
    %p
      %label
        %b Año:
      =a.number_field :id, :in => Date.today.year...Date.today.year+10, :include_blank => 'Seleccione...', :class => "span1", :required => true
    %p 
      %label
        %b Nombre:
      =a.text_field :nombre, :placeholder => "Descripcion…", :class => "input"
    
    %br
    =a.submit "Registrar >", :class => "btn btn-primary"

%p  
  = link_to "/aceim_diplomados/cohorte/index", {:class => "btn"} do
    %i.icon-backward
    Atrás
