=link_to "regresar", :back, :class => 'btn'

%table.table
	%thead
		%tr
			%th #
			%th Alumno
			%th Estado
			%th Primer Lapso
			%th Segundo Lapso
			%th Tercer Lapso
			%th Definitiva
	%tbody
		- @cal_seccion.cal_estudiantes_secciones.each_with_index do |es,i|
			%tr
				%td #{i}
				%td #{es.cal_estudiante.cal_usuario.descripcion}
				%td #{es.cal_tipo_estado_inscripcion.descripcion}
				%td 
					=text_field_tag 'primera', {}, {:class => 'span8'}
				%td 
					=text_field_tag 'segunda', {}, {:class => 'span8'}
				%td 
					=text_field_tag 'tercera', {}, {:class => 'span8'}
				%td 20