-if @cohortes_temas.count > 0
	%h2 CohortesTemas
	-@cohortes_temas.each do |cohorte_tema|
		%h3
			=cohorte_tema.descripcion
-else
	%h3 No se encontraron Temas para esta cohorte 

%p
	=link_to "Agregar Tema a esta Cohorte >", :action => "nuevo"