.form-actions
  = link_to @atras, {:class => "btn"} do
    %i.icon-backward
    Atrás

  = link_to @siguiente, :class=> "btn btn-primary", :type => "button" do
    %i.icon-forward.icon-white
    Siguiente
