.contenedor
  -if ParametroGeneral.inscripcion_abierta
    %div{:class => "titulo center"}
      %h2 Inscripciones
      =button_to "Inscribirse", :action => "paso1", :controller => "inscripcion"

  =button_to "Registrarse", :action => "registrar"

  =@content.html_safe
