%h3 Información Importante:
-if ParametroGeneral.inscripcion_abierta
	=#button_to "PresInscribirse", {:action => "paso1", :controller => "inscripcion"},:class => 'btn'
	=button_to "Registrarse", {:action => "registrar"}, :class => 'btn'

.well{:style=>"overflow-y: scroll;height: 200px;"}
	=@content.html_safe
  