=form_tag action: "registrar_datos_profesionales_guardar" do 
  -if @datos_estudiante.errors.any?
    %p
      %div#error-explanation
        %b
          =pluralize(@datos_estudiante.errors.count, "error") 
          en el formulario impiden que éste usuario sea registrado:
        %ul
          -@datos_estudiante.errors.full_messages.each do |msg|
            %li
              =msg
  %fieldset
    %legend Datos laborales
    %p
      %label
        ¿Usted trabaja?
        %span.req *   
      =radio_button :datos_estudiante, :trabaja, "1"
      Si
      =radio_button :datos_estudiante, :trabaja, "0"
      No
    #div-trabaja
      %p
        %label
          Ocupación
        =text_field :datos_estudiante, :ocupacion
        Ejemplo: Profesor
      %p
        %label
          Institución
        =text_field :datos_estudiante, :institucion
        Ejemplo: Colegio ABC
      %p
        %label
          Cargo actual
        =text_field :datos_estudiante, :cargo_actual
        Ejemplo: Director
      %p
        %label
          Antiguedad
        =text_field :datos_estudiante, :antiguedad
        Ejemplo: 3 años
      %p
        %label
          Dirección de trabajo
        =text_area :datos_estudiante, :direccion_de_trabajo, size: "60x4"
        Ejemplo: Avenida A, con calle B. Caracas.
  %fieldset
    %legend Estudios realizados
    %p
      %label
        Título de bachiller
      =radio_button :datos_estudiante, :titulo_estudio, "Ciencias"
      Ciencias
      =radio_button :datos_estudiante, :titulo_estudio, "Humanidades"
      Humanidades
    %p
      %label
        Institución
        %span.req *   
      =text_field :datos_estudiante, :institucion_estudio
      Ejemplo: Colegio BDC
    %p
      %label
        Año de graduación
        %span.req *   
      =text_field :datos_estudiante, :ano_graduacion_estudio
      Ejemplo: 1997
  %fieldset
    %legend Estudios concluidos
    %p
      %label
        Título obtenido
      =text_field :datos_estudiante, :titulo_estudio_concluido
      Ejemplo: Licenciado en idiomas
    %p
      %label
        Institución
      =text_field :datos_estudiante, :institucion_estudio_concluido
      Ejemplo: UCV
    %p
      %label
        Año de graduación
      =text_field :datos_estudiante, :ano_estudio_concluido
      Ejemplo: 2004
  %fieldset
    %legend Estudios en curso
    %p
      %label
        Nombre
      =text_field :datos_estudiante, :titulo_estudio_en_curso
      Ejemplo: Alemán
    %p
      %label
        Institución
      =text_field :datos_estudiante, :institucion_estudio_en_curso
      Ejemplo: Instituto DFE
    %p
      %label
        Fecha de inicio
      =text_field :datos_estudiante, :fecha_inicio_estudio_en_curso
  %fieldset
    %legend Experiencia en la enseñanza de idiomas
    %p
      %label
        ¿Ha tenido experiencia en la enseñanza de idiomas?
        %span.req *  
      =radio_button :datos_estudiante, :tiene_experiencia_ensenanza_idiomas, "1"
      Si
      =radio_button :datos_estudiante, :tiene_experiencia_ensenanza_idiomas, "0"
      No
    #div-experiencia
      %p
        %label
          Explique brevemente su experiencia
        =text_area :datos_estudiante, :descripcion_experiencia, size: "60x8"
      %p
        %label
          ¿Ha dado clases de español?
        =radio_button :datos_estudiante, :ha_dado_clases_espanol, "1"
        Si
        =radio_button :datos_estudiante, :ha_dado_clases_espanol, "0"
        No
      #div-espanol
        %p
          %label
            ¿Dónde?
          =text_field :datos_estudiante, :donde_clases_espanol
          Ejemplo: Colegio ASD
        %p
          %label
            ¿Por cuánto tiempo?
          =text_field :datos_estudiante, :tiempo_clases_espanol
          Ejemplo: 2 años
    %p
      %label
        ¿Por qué le interesa cursar el diplomado?
        %span.req *  
      =text_area :datos_estudiante, :por_que_interesa_diplomado, size: "60x4"
    %p
      %label
        Expectativas sobre el diplomado
        %span.req *  
      =text_area :datos_estudiante, :expectativas_sobre_diplomado, size: "60x4"
    
  %p 
    %span.req *  
    Campos Obligatorios
  %p
    =submit_tag "Guardar", :confirm => "¿Está seguro de enviar los datos?"
%br/    