=form_for(@convenio,:url=>{:action => "modificar_guardar"}) do |a|
  -if @convenio.errors.any?
    %div#error_explanation
      %ul
        -@convenio.errors.full_messages.each do |msg|
          %li
            *
            =msg
          
  %fieldset
    %legend Actualización del Monto de los Cursos
    
    %p
      %label
        Código del Convenio:
        =@convenio.id
        =a.hidden_field :id
    %p
      %label 
        Descripción
        %span.req *
      =a.text_field :descripcion, :autofocus => "true"
    
    %p
      %label 
        Monto
        %span.req *
      -if @convenio.id != "REG"
        =a.text_field :monto, :disabled => "true"
        =a.hidden_field :monto
      -else
        =a.text_field :monto
        (Sin incluir el precio de la planilla)

    %p
      %label 
        Porcentaje de Descuento
        %span.req *
      -if @convenio.id != "REG"
        =a.text_field :descuento
      -else
        =a.text_field :descuento, :disabled => "true"
        =a.hidden_field :descuento
      
  %p 
    %span.req *  
    Campos Obligatorios
  %p
    =submit_tag "Modificar"
    |
    =link_to_function "Cancelar","aceim.cerrar_modal()"
