%h2
	="Diplomados"

=button_to "Nuevo Diplomado", {:action => "nuevo"}, {:class => 'btn'}

#accordionDiplomados.accordion
	-@diplomados.each do |diplomado|
		.accordion-group
			.nav-header
				%a.accordion-toggle{"data-parent" => "#accordionDiplomados", "data-toggle" => "collapse", :href => "#collapseModulos"}
					.nav-header
						=diplomado.descripcion_completa
						=#glyph(:pencil)
		#collapseModulos.accordion-body.collapse
			.accordion-inner
				%ul.nav.nav-list
					-diplomado.modulos.each do |modulo|
						%li=link_to "#{modulo.descripcion_completa}", "modulo/#{modulo.id}"

