.subcontenedor
	-if @mensaje
		%h3
			= @mensaje

	=button_to "Nuevo Diplomado", {:action => "nuevo"}, {:class => 'ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only', :href => 'diplomado/nuevo'}

	%ul
		-@diplomados.each do |diplomado|
			%li=link_to diplomado.descripcion_completa, "#{controller_name}/vista/#{diplomado.id}"
			%br
