=form_for(@diplomado,:url=>{:action => "crear"}) do |a|
  -if @diplomado.errors.any?
    %ul
      -flash[:alert] = ""
      -@diplomado.errors.full_messages.each do |msg|
        -flash[:alert] += "#{msg}\n"
            
  %fieldset
    %legend Registro de Nuevo Diplomado
    %p
      %label
        %b Identificación:
      = a.text_field :id, :autofocus => "true", :placeholder => "Identificación…", :required => true, :class => "input-medium"
      %span.help-block
        Recuerde NO usar caracteres especiales (%/$#) como parte de la Identificación
    %p
      %label
        %b Descripción:
      = a.text_field :descripcion, :placeholder => "Descripcion…", :required => true, :class => "input-medium"
  =a.submit "Registrar", :class => "btn btn-primary"

%p  
  = link_to "/aceim_diplomados/diplomado/index", {:class => "btn"} do
    %i.icon-backward
    Atrás