.modal.fade#actualizar_idiomas{'aria-labelledby' => "myModalLabel", 'aria-hidden'=> false}
	.modal-dialog
		.modal-content
			- if session[:cal_administrador]
				.modal-header
					<button type="button" class="close fade" data-dismiss="modal" aria-hidden="true">×</button>
			.alert.alert-info
				%h4 IMPORTANTE:
				Por favor indique el par de idiomas correspondientes a su carrera. Esta Información será usada para brindarle una mejor experiencia con el sistema.
			
			.modal-header
				#myModalLabel 
					%h3 Actualizar Idiomas
			.modal-body

		=form_tag ({:controller => 'cal_estudiante', :action => 'actualizar_idiomas'}, :class => "form-horizontal")  do 
			= collection_select :cal_estudiante, :idioma1_id, @idiomas1, :id, :descripcion, {:prompt => true}, { :class => 'input', :onchange => "ver_select(this.value)", :required => true }


			= collection_select :cal_estudiante, :idioma2_id, @idiomas2, :id, :descripcion, {:prompt => true}, { :class => 'input', :style => 'display:none;', :id => 'idioma2', :onchange => "$('#actualizar_btn').show();", :required => true}

			=submit_tag 'Actualizar', :class => "btn btn-primary", :id => 'actualizar_btn', :style => 'display:none;'


	- if session[:cal_estudiante]
		:javascript
			$(document).ready(function() {
				$("#actualizar_idiomas").modal();
			});


:javascript

	function ver_select(val){
		$("#idioma2 option[value="+val+"]").remove();
		$('#idioma2').show();

		if (val == ''){
		$('#idioma2').hide();
		$('#actualizar_btn').hide();
		
		}

		if (val == 'ING'){
			$("#idioma2").append('<option value="FRA">Fancés</option>');
						
		}

	}
