=form_tag({:action => "cambiar_instructor_guardar"}, :class => "formulario titulo") do
  =hidden_field_tag :seccion_completa, params[:seccion]
  %table.tablesorter.likert
    %thead
      %tr
        %th{:width => "150px"}
          Curso
        %th{:width => "150px"}
          Instructor
    %tbody
      %tr
        %td
          =@seccion.descripcion
        %td
          =collection_select :usuario, :ci, Instructor.all.sort_by{|x| x.descripcion}, :id, :descripcion
  =submit_tag "Cambiar"
  %br/
  %br/
  =link_to "<Atrás", :action=>"ver_secciones", :controller=>"estado_inscripcion"