=form_tag(:action => "cambiar_instructor_guardar") do
  -i = @cant_horarios
  %table.tablesorter.tablefilter.likert
    %thead
      %tr
        %th{:width => "20%"}
          Instructor
        %th{:width => "10%"}
          Idioma
        -@bloques_horarios.each do |bh|     
          %th
            =bh.descripcion
    %tbody
      =hidden_field_tag :ci, @ci
      =hidden_field_tag :idioma_id, @idioma
      -@horarios_disponibles.each do |id|
        -if i == @cant_horarios
          %tr
        -if i == @cant_horarios
          %td
            =id.instructor.descripcion
          %td
            =id.idioma.descripcion
        -i = i - 1
        %td
          -if id.disponible == 1
            =check_box_tag "horarios_instructor[#{id.bloque_horario_id}]", 1, true
          -else
            =check_box_tag "horarios_instructor[#{id.bloque_horario_id}]", 1, false
        -if i == 0
          -i = @cant_horarios
  %br/
  =submit_tag "Cambiar"
  =button_to_function "Cancelar","aceim.cerrar_modal();"
