%br/
%h3 
  =@historial.first.tipo_curso.descripcion
%table.tablesorter
  %thead
    %tr
      %th
        Nivel
      %th
        Horario
      %th
        Aula
      %th
        Periodo
      %th
        Calificación
  %tbody
    -@historial.each do |h|
      %tr
        %td
          =h.tipo_nivel.descripcion
        %td
          =h.seccion.horario
        %td
          =h.seccion.aula_corta
        %td
          =h.periodo_id
        %td
          -if h.nota_final == -2
            SIN CALIFICAR
          -elsif h.nota_final == -1
            PERDIDA POR INASISTENCIA
          -else
            =h.nota_final.to_i
