.text-center
	%h1 Bienvenidos al Sistema Interno de Administración de Asignaturas y Recolección Notas de la EIM

	.well.well-small.text-info
		%h3 Inscripciones para el período 2015-2016
		%p 
			%b Alumnos regulares y reincorporados: 
			desde el lunes 2 hasta el miércoles 4 de noviembre por cita horaria.
		%p
			%b Alumnos nuevo ingreso: 
			únicamente jueves 5 de noviembre de 9:00 am a 12::00 pm por orden de llegada. 
		%p
			Para ver la cira horaria y los horarios los alumnos regulares que ya se han registrado en SIRNEIM pueden ingresar utilizando su número de cédula y contraseña.
		%p
			Los alumnos nuevos y reincorporados deben registrarse por primera vez en SIRNEIM ingresando con su número de cédula en ambos campos del inicio de la sesión y seguir las instrucciones.
		%h4
			Bienvenidos.


	.well.well-small
		=render 'layouts/cal_cargar_sesion'
	
		=link_to "¿Olvidó su clave?", "#", :class=> "btn btn-mini", :onclick => "return $('#olvido_clave').modal();"

.modal.hide.fade#olvido_clave
	.modal-header
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		%h3 Recuperar Contraseña

	=form_tag :url => {:action => 'olvido_clave_enviar'}, :class => "form-horizontal"  do 
		.modal-body
			.control-group
				%label.control-label
					CI:
				.controls
					=text_field :cal_usuario, :ci, :placeholder => "Ingrese su cédula de identidad…", :required => true
		.modal-footer
			=submit_tag 'Recuperar', :class => "btn btn-primary"