.contenedor
  #interno
    %p 
      Roles disponibles para ingresar al sistema:
    %ul
      -@roles.each do |rol|
        %li
          =link_to rol[:descripcion], :action => "un_rol", :tipo => rol[:tipo], :idioma_id => rol[:idioma_id], :tipo_categoria_id => rol[:tipo_categoria_id]
        