// Place all the styles related to the estado_inscripcion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.seccion_cerrada{
	color: red;
}
.seccion_abierta{
	color: green;
}

.numero_barra_progreso{
margin-top: -20px;
text-align: center;
}

#barra{
margin-top:250px;

}
