html{
		background: #ACCEF3;	
}
body{
	margin:17px 130px 0 130px;
	padding:0;
	text-align:left;
	font-size:small;
	font-family:"Lucida Grande", Tahoma, Geneva, Arial, Verdana, sans-serif;
	border: auto 1px solid #bbb;
	
}
/*
article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object, output {
	display: block;
}
*/
.ui-button:hover { color: orange;}
#banner{
	margin:0;
	min-height:0;
	height:120px;
	background: url(encabezado_bg.gif)	 repeat-x center top;
	text-decoration:none;
	padding-right: 30px;
	padding-left: 30px;
}

#banner_barra{ 
	background: url(barra_amarilla_ucv.png) no-repeat left;
	background-position: 10px 20px;
	letter-spacing: 3px;
}

#banner_contenido{
	padding-top: 30px;
	padding-left: 30px;
	background:url(../assets/logo_fhye.png) no-repeat right; 
	height:90px; 
	font-size: 13px; 
	text-align: left; 
	color: white; 
	font-weight: lighter;}

.detalle_derecha{
	float: right;
	letter-spacing: 2px;
	padding-left: 3%; 
	margin: 2px 10px;

}
#sesion {
	letter-spacing: 1px;
	font-size: 9px;
}

#menubar {
	background: url(barra_amarilla.png) repeat-x left; 
	padding-left: 60px;
	height: 70px;
}

#sitenav li {display:inline;line-height: 70px;}
#sitenav li a {color:#444; float:center; text-decoration:none; padding: 27px 27px 27px 0px;}
#sitenav li a:hover {background-color: orange; color: black;}
#sitenav li.current a {color:black;font-weight: bold;background-color:darkorange; }

.contenedor{
	min-height:200px;
	background: #e6e6e6;
	padding-top: 20px;
	padding-bottom:20px;
	overflow: auto;
}

.subcontenedorderecho{
	float:right;
	width: 22%;
	min-height:190px;
	text-align: left;
	padding: 0 1%;
	letter-spacing: 1px;
	font-size: 9px;
  }

.subcontenedorizquierdo{
	float:left;
	width: 60%;
	border-right: 1px solid #bbb;
	padding: 0px 10% 0px 4%;
}

.subcontenedor{
	padding: 0px 10% 0px 4%;
}

.notaizquierda{
	width: 80%;
	height:200px;
}
#tituloIzq{
    background-color: #005E85;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 9px;
    letter-spacing: 2px;
    margin: 7px auto;
    text-align: center;
    height:30px;
}

#inicio_sesion{
padding-left: 30px;
margin-top: 10%;
}

#boton_iniciar_sesion{
margin-left: 30%;
}

#pie {	
	padding: 10px 0 10px 0;
	display:block;
	background: url(encabezado_bg.gif) repeat-x center bottom;
	color: white;
	font-size: 10px;
	letter-spacing: 3px;
	border-bottom: 2px solid black;
}

.center{text-align:center;}

img, a img{
	border:none;
	-ms-interpolation-mode: bicubic;
}
* html #bottom{ 
	_behavior: url(../assets/iepngfix.htc);
}
.hide, .cloak div, .cloak span, .likert.cloak tbody, .likert.cloak thead{
	display:none !important;
}
.likert.cloak table{
	border:none;
}  

#error-login{
  background-color: red;
  color: white;
  padding: 3px 0px;
}       
           
#interno p, #interno h1,#interno  h2, #interno  h3, #interno table {
  margin: 10px;
} 

#interno{
  margin: 10px;
}    

#mensaje-flash{
  margin: 0px;
  paddin: 0px;
}

#pie{
  text-align: center;
}                 

fieldset {  
  margin: 10px;
}              
  
fieldset label{  
  display: block;
	font-weight:bold;
}   

form span.req{
	display:inline;
	color:red !important;
	font-weight:bold;
	margin:0;
	padding:0;
}
    
    
/* ----- titulo ----- */

.titulo{
	display:inline-block; 
	clear:both;
	margin:0 0 5px 0;
	padding:0 1% 1.1em 1%;
	border-bottom:1px dotted #ccc;
}
.titulo[class]{
	display:block;
}
.hideHeader .titulo, #payment.hideHeader li.primera{
	display:none;
}
.titulo h2{
	font-weight:normal;
	font-size:160%;
	margin:0 0 5px 0;
	clear:left;
}
.titulo div{
	font-size:95%;
	line-height:135%;
	color:#555555;
}

#error-explanation{
  background-color: #FF0000;
  margin: 20px;
  padding: 10px;
  color: #FFF;
  border: 1px solid #FFF;
}
         
.field_with_errors{
  background-color: #FF0000;
  margin: 5px;
  padding: 5px;
  display: inline;  
}



/*------- sexy drop down css ---------*/

ul.topnav {
	list-style: none;
	margin: 0;
	float: left;
	font-size: 11px;
	background: url(barra_amarilla.png) repeat-x;
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 10px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 5px 6px;
	color: #000;
	display: block;
	text-decoration: none;
	float: left;
	font-weight: bold;
}

ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	border-bottom: 2px solid #FFC252; 
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: url(barra_amarilla.png) repeat-x;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #FCEA9A;
	font-weight: bold;
}
