=form_tag({:action => "cambiar_aula_guardar"}, :class => "formulario titulo") do
  =@seccion_horario.seccion.descripcion
  %table.tablesorter.likert
    %thead
      %tr
        %th{:width => "250px"}
          Aula Actual
        %th{:width => "150px"}
          Nueva Aula
    %tbody
      %tr
        %td
          =hidden_field_tag :seccion_completa, @p[:seccion_horario]
          =hidden_field_tag :controlador, @p[:controlador]
          =hidden_field_tag :accion, @p[:accion]
          =hidden_field_tag :periodo, @p[:periodo]
          =hidden_field_tag :idioma, @p[:idioma]
          =hidden_field_tag :categoria, @p[:categoria]
          =hidden_field_tag :controlador, @p[:controlador]
          =hidden_field_tag :accion, @p[:accion]



          -if @seccion_horario.aula
            -if @seccion_horario.tipo_dia_id == "SA" or @seccion_horario.aula_id == "PD"
              =@seccion_horario.aula.descripcion_completa
            -else
              =@seccion_horario.aula.descripcion_completa + " / " + @aula_pareja.aula.descripcion
            
          -else
            NO ASIGNADO
        %td
          =collection_select :seccion_horario, :aula_id, @aulas, :aula_id, :descripcion_completa_del_aula, :include_blank => "LIBERAR"
  =submit_tag "Modificar", :disable_with => "Por favor espere..."
  |
  =link_to_function "Cancelar","aceim.cerrar_modal()"
