-if flash[:mensaje]
  =flash[:mensaje]
=form_tag({action: "cargar_deposito_guardar"}, class: "formulario titulo") do
  %table.tablesorter.likert
    %thead
      %tr
        %th{width: "150px"}
          Estudiante
        %th{width: "150px"}
          Tipo
        %th{width: "150px"}
          Numero de depósito
    %tbody
      %tr
        %td=@usuario.nombre_completo
        %td
          =@tipo_descripcion
          =hidden_field_tag :ci, @ci      
          =hidden_field_tag :tipo, @tipo
        %td
          =text_field :inscripcion, :deposito, autofocus: true
          =javascript_tag "$('#inscripcion_deposito').focus();"
  %br/
  %br/
  =submit_tag "Confirmar"
  |
  =link_to_function "Cancelar","aceim.cerrar_modal()"