%h3
  =link_to "Estado por Niveles", :action => "nivel1", :id=>"Niveles"
%div.titulo Muestra los estudiantes inscripción por Nivel

%h3
  =link_to "Estado por Idiomas", :action => "nivel1", :id=>"Idiomas"
%div.titulo Muestra los estudiantes inscripción por Idioma

%h3
  =link_to "Ver Secciones", :action => "ver_secciones"
%div.titulo Muestra los estudiantes inscripción por Idioma