-if session[:parametros][:calificacion_abierta] == "SI"
  %h3
    =link_to "Calificar", action: "seleccionar_curso", controller: "calificacion"
  .titulo
    Calificar en el curso #{session[:parametros][:periodo_calificacion]}
-if session[:parametros][:listados_abiertos] == "SI"
  %h3 
    =link_to "Ver Listado de Secciones", controller: "principal_instructor", action: "ver_secciones" 
  .titulo
    Ver el listado de una sección en formato HTML
%h3 
  =link_to "Control de asistencia", controller: "asistencia", action: "seleccionar_curso"
.titulo
  Llevar el control de la asistencia del curso
