=form_tag url_for(action: "guardar_cambio_cohorte", controller: "parametros_generales"), class: "form-horizontal well well-small"  do

	.control-group
		%label.control-label
			Seleccionar Cohortes:
		.controls
			=collection_select :cohorte, :id, @cohortes, :id, :descripcion, :selected => session[:parametros][:periodo_actual]
	.form-actions
	-if @modal
		= hidden_field_tag 'url', @url_retorno
		%input.btn.btn-primary{"data-disable-with" => "Por favor espere...", :name => "commit", :type => "submit", value: "Cambiar"}
		%a.btn{"data-dismiss" => "modal", :href => ""} Cancelar
	-else
		= link_to "/aceim_diplomados/cohorte/index", {class: "btn"} do
			%i.icon-backward
			Atrás  
		=button_tag class: "btn btn-primary", :type => "submit" do
			%i.icon-forward.icon-white
			cambiar
