%h3
  Se procederá a crear el Período:
  %br/
  %br/
  =@nuevo_periodo
%br/
%br/
=link_to "Crear", :action=>"crear_nuevo_periodo", :periodo_id => @nuevo_periodo
|
=link_to_function "Cancelar","aceim.cerrar_modal()"
