%br
=form_tag({:action => "guardar_parametros"}) do
  %table.table.table-striped.table-hover.table-condensed.table-bordered
    %thead
      %tr
        %th
          Acción
        %th
          SI
        %th
          NO
    %tbody
      / %tr
      /   %td
      /     ¿Abrir la Preinscripción?
      /   %td
      /     -#if @preinscripcion_general == "SI"
      /       =#radio_button_tag "preinscripcion_general","SI",true
      /     -#else
      /       =#radio_button_tag "preinscripcion_general","SI",false
      /   %td
      /     -#if @preinscripcion_general == "NO"
      /       =#radio_button_tag "preinscripcion_general","NO",true
      /     -#else
      /       =#radio_button_tag "preinscripcion_general","NO",false
      %tr
        %td
          ¿Abrir la Preinscripción?
        %td
          -if @inscripcion_general == "SI"
            =radio_button_tag "inscripcion_general","SI",true
          -else
            =radio_button_tag "inscripcion_general","SI",false
        %td
          -if @inscripcion_general == "NO"
            =radio_button_tag "inscripcion_general","NO",true
          -else
            =radio_button_tag "inscripcion_general","NO",false


  %p= submit_tag 'Guardar', :class => "btn btn-primary"

%br/
%br/

