- if @cal_usuario.correo_electronico.blank? and @cal_usuario.telefono_movil.blank? and @cal_usuario.telefono_habitacion.blank?

	.modal.fade#actualizar_datos{tabindex: "-1", role: "dialog", 'aria-labelledby': "myModalLabel", 'aria-hidden': true}
		.alert.alert-info
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			%h4 IMPORTANTE:
			Le recomendamos actualice sus datos para una mejor experiencia.
		%h3#myModalLabel 
			Actualizar Datos
		.modal-body
			= render partial: 'cal_usuario/form'

	:javascript
		$(document).ready(function() {
			$("#actualizar_datos").modal();
		}); 

