<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title> DIPLOMADOS - Escuela de Idiomas Modernos  </title>
  </head>
  <body>
    <div id="contenido" style="width:600px; min-height:700px;padding:100px 0px 0px 60px;background: url('http://blues.ciens.ucv.ve/assets/fondo_correo.png') no-repeat;">
      <h2>
        <%=@asunto%>
      </h2>
      <%=@mensaje%>
      <br/>
      <br/>
      __________________________________
      Carlos A. Saavedra A.
      Coordinador Academico
      EIM - UCV
    </div>  
  </body>
</html>