-if @nuevo
  .alert.alert-block.alert-error.face.in
    %button.close{"data-dismiss"=>"alert"} x
    %h4.alert-heading 
      Usuario No Encontrado, ¿Desea Inscribirlo?
      %a.btn.brn-danger.btn-primary{"href" => "/inicio/registrar?usuario_ci=#{@usuario_ci}&inscripcion=true"}
        Sí
      %button.btn{"data-dismiss"=>"alert"} No

=render "usuario/buscar" unless @sin_diplomados_ofertados
