=form_tag(:action => "paso1_1_guardar") do 
  %p
    %label
      Idioma
    %br/
    =@tipo_curso.descripcion
  %p
    %label
      Nivel
      %span.req * 
    %br/
    =collection_select :seleccion, :nivel, @niveles, :id, :descripcion
  %p 
    %span.req *  
    Campos Obligatorios
  %p
    =submit_tag "Siguiente"  
%br/    