%p
  Estudiante se ha inscrito en:
%table.tablesorter
  %thead
    %tr
      %th
        Curso
      %th
        Nivel
      %th
        Horario
      %th
        Sección
      %th
        Aula
  %tbody
    %tr
      %td
        =@historial.tipo_curso.descripcion
      %td
        =@historial.tipo_nivel.descripcion
      %td
        =@historial.seccion.horario
      %td
        =@historial.seccion_numero
      %td
        =@historial.seccion.aula
%br/
%p
  =link_to "< Ir a inscribir otro estudiante", :action => "paso0"
%p
  =link_to "< Ir a gestionar este estudiante", :action => "validar", :controller => "admin_estudiante", :usuario => {:ci => @historial.usuario_ci}
%br/
    