=form_tag :action => "paso2_guardar" do
  %fieldset
    %legend Horarios
    %p
      %label
        Curso
      =@ec.tipo_curso.descripcion
    %p
      %label
        Nivel
      =@tipo_nivel.descripcion
    %p
      %label
        Secciones Disponibles
        %span.req *
      =collection_select :datos, :seccion, @secciones, :id, :descripcion_inscritos
  %p 
    %span.req *  
    Campos Obligatorios
  %p
    =submit_tag "Confirmar inscripción", :confirm => "¿Está seguro de confirmar inscripción para este horario?"
%br/