#banner
  #banner_barra
    #banner_contenido
      Universidad Central de Venezuela
      %br/
      Facultad de Humanidades y Educación
      %br/
      Escuela de Idiomas Modernos
      %br/
      Coordinación Académica
      %br/
      ACEIM - DIPLOMADOS
