#banner
  %ul
    %li
      %p
        Universidad Central de Venezuela
      %p
        Facultad de Humanidades y Educación
      %p
        Escuela de Idiomas Modernos
      %p
        Coordinación Académica        