

=form_tag({action: "validar"}, class: "form-inline small", style: "margin:10px 0") do
	
	
	=text_field :cal_usuario, :ci, size: 10, autofocus: "true", placeholder: "Cédula", class: "input input-small", required: true
	.input-append  
		=password_field :cal_usuario, :contrasena, placeholder: "Contraseña", class: "input input-small", id: "appendedInputButtons", required: true
		=submit_tag "Ingresar", class: 'btn'

