=link_to "Olvidó su clave", {:action => "olvido_clave"}, :style => "font-size: 11px;"
=form_tag({:action => "validar"}, :class => "form-inline small") do

	=text_field :usuario, :cedula, :size => 10, :autofocus => "true", :placeholder => "Cédula", :class => "input input-small"
	.input-append  
		=password_field :usuario, :clave, :placeholder => "Contraseña", :class => "input input-small span2", :id => "appendedInputButtons"
		=submit_tag "Ingresar", :class => 'btn'