-@accion = "registrar_guardar" if @accion.blank?
=form_tag @accion, :class => "form-horizontal" do 
  -if @usuario.errors.any?
    %ul
      -flash[:alert] = ""
      -@usuario.errors.full_messages.each do |msg|
        -flash[:alert] += "#{msg}\n"

  %fieldset.well.well-small
    %legend Datos Personales
    .control-group
      %label.control-label
        Cédula de Identidad:  
      .controls  
        =@usuario.ci
      =hidden_field :usuario, :ci


    .control-group
      %label.control-label
        Nombres:
      .controls
        =text_field :usuario, :nombres, :placeholder => "Nombre…", :required => true, :autofocus => true
        %span.help-block
          Ejemplo: María

    .control-group
      %label.control-label
        Apellidos:
      .controls
        =text_field :usuario, :apellidos, :placeholder => "Apellido…", :required => true
        %span.help-block
          Ejemplo: Torres

    .control-group
      %label.control-label
        Lugar de nacimiento:
      .controls
        =text_field :usuario, :lugar_nacimiento, :placeholder => "Lugar de Nacimiento…", :required => true
        %span.help-block
          Ejemplo: Caracas

    .control-group
      %label.control-label
        Fecha de nacimiento:
      .controls
        =#date_select :usuario, :fecha_nacimiento, {:prompt => { :day => 'dia', :month => 'mes', :year => 'año' }, :start_year => 1920 }, {:required => true, :class => 'span1'}
        =#date_select :datos_estudiante, :fecha_inicio_estudio_en_curso, {:order => [:day, :month, :year], :prompt => { :day => 'dia', :month => 'mes', :year => 'año' }, :start_year => 2000 }, {:required => true, :class => 'span2'}
        =#text_field :usuario, :fecha_nacimiento, :placeholder => "Ejemplo: 24/05/2009…", :required => true, 'data-behaviour' => 'datepicker'
        =date_select :usuario, :fecha_nacimiento, {:start_year => 1930}, {:required => true, :class => 'span1'}
    .control-group
      %label.control-label
        Sexo:
      .controls
        %label.checkbox
          =radio_button :usuario, :tipo_sexo_id, "M", :required => true
          Masculino
          |
          =radio_button :usuario, :tipo_sexo_id, "F", :required => true
          Femenino


  %fieldset.well.well-small
    %legend Datos de Contacto

    .control-group
      %label.control-label
        Teléfono habitación
      .controls
        =telephone_field :usuario, :telefono_habitacion, :placeholder => "Teléfono de Habitación…"
        %span.help-block
          Ejemplo: 0212-5551122

    .control-group
      %label.control-label
        Teléfono celular
      .controls
        =telephone_field :usuario, :telefono_movil, :placeholder => "Celular…", :required => true
        %span.help-block
          Ejemplo: 0414-2391212

    .control-group
      %label.control-label
        Correo electrónico
      .controls
        =text_field :usuario, :correo, :placeholder => "Correo Electrónico…", :required => true
        %span.help-block
          Ejemplo: maria@gmail.com

    .control-group
      %label.control-label
        Correo electrónico (alternativo)
      .controls
        =text_field :usuario, :correo_alternativo, :placeholder => "Correo Alternativo…"
        %span.help-block
          Ejemplo: maria2@gmail.com

    .control-group
      %label.control-label
        Cuenta twitter
      .controls
        =text_field :estudiante, :cuenta_twitter, :placeholder => "Twitter…"
        %span.help-block
          Ejemplo: @maria2

    .control-group
      %label.control-label
        Dirección de domicilio
      .controls
        =text_area :usuario, :direccion, :size => "60x4", :placeholder => "Domicilio…", :required => true
        %span.help-block
          Ejemplo: Avenida A, con calle B. Los Naranjos.
  - if session[:administrador]
    =link_to "Cancelar", {:controller => "principal_admin"}, :class => "btn"
  - else
    =link_to "Cancelar", {:controller => "principal"}, :class => "btn"
  =submit_tag "Siguiente", :class => "btn btn-primary" #, :confirm => "¿Está seguro de enviar los datos?"
:javascript
  $("[data-behaviour~=datepicker]").datepicker.defaults.format = "dd/mm/yyyy"
  $("[data-behaviour~=datepicker]").datepicker.defaults.weekStart= 1
  $("[data-behaviour~=datepicker]").datepicker.defaults.language = "es"  
  $("[data-behaviour~=datepicker]").datepicker()