!!!
%html
  %head
    %title ACEIM - DIPLOMADOS - Escuela de Idiomas Modernos  
    =stylesheet_link_tag  "application"
    =javascript_include_tag "application" 
    =javascript_include_tag controller_name
    <link href="/aceim_diplomados/assets/application.css" media="screen" rel="stylesheet" type="text/css">
    <script src="/aceim_diplomados/assets/application.js" type="text/javascript"></script>
    =javascript_include_tag "/aceim_diplomados/assets/#{controller_name}"    
  %body
    #banner
      #banner_barra
        #banner_contenido
          Universidad Central de Venezuela
          %br/
          Facultad de Humanidades y Educación
          %br/
          Escuela de Idiomas Modernos
          %br/
          Coordinación Académica
          %br/
          ACEIM - DIPLOMADOS
          %br/
    #menubar
      .detalle_derecha
        :javascript
          var mydate=new Date()
          var year=mydate.getYear()
          if (year < 1000) year+=1900
          var day=mydate.getDay()
          var month=mydate.getMonth()
          var daym=mydate.getDate()
          if (daym<10)
            daym="0"+daym
          var dayarray=new Array("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado")
          var montharray=new Array("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre")
          document.write("<small><font color='000000' face='Arial'>"+dayarray[day]+", "+daym+" de "+montharray[month]+" de "+year+"</font></small>")
      %nav#sitenav 
        %li.current
          =link_to "Inicio", :controller => "inicio", :action => "index"
        %li
          =link_to "Contacto", "mailto:diplomado.ele.eim.ucv@gmail.com"
    %div{:style => "background-color:#eeeeee; padding: 10px"}
      -if @titulo_pagina
        %h2 #{@titulo_pagina}
      -if flash[:mensaje]
        #mensaje-flash{:style => "display:none;"}
          %p{ :class => "ui-state-highlight ui-corner-all", :style => "margin-top: 20px; padding: 3px 3px" }
            %span.ui-icon.ui-icon-info{ :style =>"display:inline-block;" }
            #{flash[:mensaje]}  
        =javascript_tag "$(document).ready(function(){ $('#mensaje-flash').show('pulsate',{},'fast'); });"
      =yield
    #pie
      CIUDAD UNIVERSITARIA DE CARACAS - PATRIMONIO CULTURAL DE LA HUMANIDAD
      %br/
      Ciudad Universitaria de Caracas, Galpón 7, Frente a Farmacia. Telf.: (0212) 6052982
      %br/
    =image_tag "bottom.png"  
    %div{ :id => "action_#{action_name}" }
    