%p
  Su inscripción ha sido realizada con éxito. Imprima su planilla de inscripción.
  %br/
  =button_to "Planilla de inscripción", :action => "planilla_inscripcion"
  %br/
  %br/
  =link_to "Ir a inicio", :action => "index", :controller => "inicio"