=form_tag :action => "paso2_guardar" do
  %fieldset
    %legend Horarios
    %p
      %label
        Curso - Nivel
      =@historial.curso.descripcion
    %p
      %label
        Horarios Disponibles
        %span.req *
      =select :usuario, :horario, @horarios
  %p 
    %span.req *  
    Campos Obligatorios
  %p
    =submit_tag "Confirmar inscripción", :confirm => "¿Está seguro de confirmar inscripción para este horario?"
%br/